# <img src="https://cdn.iconscout.com/icon/free/png-16/codeforces-3628695-3029920.png" width="20"/> Codeforces Submissions

<div align="center">

{profile_placeholder}



### 📊 Total Problems Solved: **{total_problems}**
<div style="color: #d9534f; font-weight: bold; margin-top: 8px;">
<sub>Only public problems are counted. Private problems are not included in this total.</sub>
</div>

---

<div align="center">

## 📝 Recent Submissions

<table>
<thead>
<tr>
<th align="center">#</th>
<th align="left">Problem</th>
<th align="center">Solution</th>
<th align="left">Tags</th>
<th align="center">Submitted</th>
</tr>
</thead>
<tbody>
{submission_placeholder}
</tbody>
</table>

</div>

---

<div align="center">

*Last Updated: {last_updated}*

</div>
